@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using QLNHATHAU.Models;
@model PagedList.IPagedList<ViPhamValidation>
@using PagedList.Mvc;

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
<div class="card mb-4">
    <div class="card-header">
        <label class="card-title pull-left">Quản lý Vi phạm</label>
        <button type="button" id="btn-add" class="btn btn-primary pull-right"><i class="fa fa-plus">&nbsp;</i>&nbsp;Thêm mới </button>
        <div class="modal fade" id="myModal" role="dialog" data-url=''></div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table" width="100%" cellpadding="0">
                <thead class="thead-light">
                    <tr>

                        <th class="text-center" width="250px"> Nhân viên</th>
                        <th class="text-center" width="180px"> Nhà thầu</th>
                        <th width="" class="text-center"> Hạng mục</th>
                        <th width="" class="text-center"> ND Vi phạm</th>
                        <th width="170px" class="text-center"> Ngày Vi phạm</th>
                        <th width="150px" class="text-center"> Mức Vi phạm</th>
                        <th width="170px">Tổng VP/Cắt thẻ</th>
                        <th width="180px" class="text-center"> Thao tác</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td> </td>
                        <td class="text-center"> </td>
                        <td class="center-td"> </td>
                        <td class="center-td"> </td>
                        <td class="center-td"> </td>
                        <td class="center-td"> </td>
                        <td class="file-path text-center">
                        </td>
                        <td class="center-td">
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="pager">

            </div>
        </div>
    </div>
</div>
